link(href='css/custom.css', rel='stylesheet')
h5 Charts Search
div.row
    div.eight.columns
        .form-group.form-group-default
            label Name
            input#text.form-control(type='text', required='')
    div.four.columns
        button.btn.btn-primary(onClick='ChartsSearch($("#text").val())') Search
div.row#example-grid
    div.four.columns
        b Name
    div.four.columns
        b Symbol
    div.four.columns
        b Exchange
each item in items
    div.row#example-grid
        div.four.columns
            a(href="#", onClick='ChartsView("' + item.Symbol + '")')
                = item.Name
        div.four.columns= item.Symbol
        div.four.columns= item.Exchange
